openapi: 3.1.0
info:
  title: Anthem Patient360 Member FHIR API
  version: 1.0.0
  description: 'The Anthem Patient360 member FHIR server (P360Member), a live SMART-on-FHIR DSTU2 (FHIR 1.0.2) endpoint
    running CareEvolution HIEBus 32.11.4 and declaring itself as http://anthem.com. It exposes member clinical,
    claims and coverage resources to member-authorized applications.


    DERIVED from the server''s own live Conformance statement at https://patient360c.anthem.com/P360Member/api/fhir/metadata
    (fetched 2026-09-02, HTTP 200) and the SMART/OpenID Connect discovery document at https://patient360c.anthem.com/P360Member/identityserver/.well-known/openid-configuration
    (HTTP 200, 1,048 scopes declared). Only the read and search interactions the server declares are represented;
    the server additionally declares create/update/delete/validate on most resources, which are not part of the
    member-facing read surface and are deliberately not documented here. NOTE: this DSTU2 surface is distinct from
    — and older than — the R4 CMS-mandate Patient Access surface Anthem documents on totalview.healthos.elevancehealth.com.'
  contact:
    name: Anthem Interoperability Workgroup
    email: interoperabilityworkgroup@anthem.com
    url: https://www.anthem.com/developers
  x-derived-from: https://patient360c.anthem.com/P360Member/api/fhir/metadata
  x-derived-method: derived
  x-fhir-version: 1.0.2
servers:
- url: https://patient360c.anthem.com/P360Member/api/fhir
  description: Patient360 member FHIR base (SMART on FHIR)
security:
- smartOnFhir:
  - patient/Account.read
tags:
- name: AllergyIntolerance
  description: FHIR AllergyIntolerance resource
- name: AuditEvent
  description: FHIR AuditEvent resource
- name: Binary
  description: FHIR Binary resource
- name: CarePlan
  description: FHIR CarePlan resource
- name: Claim
  description: FHIR Claim resource
- name: Condition
  description: FHIR Condition resource
- name: Coverage
  description: FHIR Coverage resource
- name: Device
  description: FHIR Device resource
- name: DiagnosticOrder
  description: FHIR DiagnosticOrder resource
- name: DiagnosticReport
  description: FHIR DiagnosticReport resource
- name: Encounter
  description: FHIR Encounter resource
- name: Goal
  description: FHIR Goal resource
- name: Group
  description: FHIR Group resource
- name: Immunization
  description: FHIR Immunization resource
- name: Location
  description: FHIR Location resource
- name: MedicationAdministration
  description: FHIR MedicationAdministration resource
- name: MedicationDispense
  description: FHIR MedicationDispense resource
- name: MedicationOrder
  description: FHIR MedicationOrder resource
- name: MedicationStatement
  description: FHIR MedicationStatement resource
- name: Observation
  description: FHIR Observation resource
- name: OperationDefinition
  description: FHIR OperationDefinition resource
- name: Organization
  description: FHIR Organization resource
- name: Patient
  description: FHIR Patient resource
- name: Person
  description: FHIR Person resource
- name: Practitioner
  description: FHIR Practitioner resource
- name: Procedure
  description: FHIR Procedure resource
- name: ProcedureRequest
  description: FHIR ProcedureRequest resource
- name: Provenance
  description: FHIR Provenance resource
- name: ReferralRequest
  description: FHIR ReferralRequest resource
- name: RelatedPerson
  description: FHIR RelatedPerson resource
- name: Specimen
  description: FHIR Specimen resource
- name: ValueSet
  description: FHIR ValueSet resource
- name: Conformance
  description: Server conformance statement
paths:
  /metadata:
    get:
      summary: Retrieve the FHIR Conformance statement
      description: Server Conformance resource (FHIR DSTU2 1.0.2). Answers anonymously; probed HTTP 200 on 2026-09-02.
      operationId: getP360Conformance
      tags:
      - Conformance
      security: []
      responses:
        '200':
          description: Conformance resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Conformance
  /AllergyIntolerance:
    get:
      summary: Search AllergyIntolerance resources
      description: Search AllergyIntolerance resources on the Anthem Patient360 member FHIR server (DSTU2). Requires
        a SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchAllergyIntolerance
      tags:
      - AllergyIntolerance
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: criticality
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: encounter
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: manifestation
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: onset
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: recorder
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: substance
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of AllergyIntolerance resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /AllergyIntolerance/{id}:
    get:
      summary: Read a AllergyIntolerance by id
      description: Read a single AllergyIntolerance resource by logical id.
      operationId: p360ReadAllergyIntolerance
      tags:
      - AllergyIntolerance
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the AllergyIntolerance resource.
        schema:
          type: string
      responses:
        '200':
          description: AllergyIntolerance resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: AllergyIntolerance
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /AuditEvent:
    get:
      summary: Search AuditEvent resources
      description: Search AuditEvent resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchAuditEvent
      tags:
      - AuditEvent
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: agent-name
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: message
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: subtype
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: user
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of AuditEvent resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /AuditEvent/{id}:
    get:
      summary: Read a AuditEvent by id
      description: Read a single AuditEvent resource by logical id.
      operationId: p360ReadAuditEvent
      tags:
      - AuditEvent
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the AuditEvent resource.
        schema:
          type: string
      responses:
        '200':
          description: AuditEvent resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: AuditEvent
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Binary/{id}:
    get:
      summary: Read a Binary by id
      description: Read a single Binary resource by logical id.
      operationId: p360ReadBinary
      tags:
      - Binary
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Binary resource.
        schema:
          type: string
      responses:
        '200':
          description: Binary resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /CarePlan:
    get:
      summary: Search CarePlan resources
      description: Search CarePlan resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchCarePlan
      tags:
      - CarePlan
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: activitydate
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: goal
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: subject
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of CarePlan resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /CarePlan/{id}:
    get:
      summary: Read a CarePlan by id
      description: Read a single CarePlan resource by logical id.
      operationId: p360ReadCarePlan
      tags:
      - CarePlan
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the CarePlan resource.
        schema:
          type: string
      responses:
        '200':
          description: CarePlan resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: CarePlan
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Claim:
    get:
      summary: Search Claim resources
      description: Search Claim resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchClaim
      tags:
      - Claim
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: created
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: encounter
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provider
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Claim resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Claim/{id}:
    get:
      summary: Read a Claim by id
      description: Read a single Claim resource by logical id.
      operationId: p360ReadClaim
      tags:
      - Claim
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Claim resource.
        schema:
          type: string
      responses:
        '200':
          description: Claim resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Claim
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Condition:
    get:
      summary: Search Condition resources
      description: Search Condition resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchCondition
      tags:
      - Condition
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: asserter
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: claim
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: clinicalstatus
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: encounter
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: onset
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: referral
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: subject
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Condition resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Condition/{id}:
    get:
      summary: Read a Condition by id
      description: Read a single Condition resource by logical id.
      operationId: p360ReadCondition
      tags:
      - Condition
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Condition resource.
        schema:
          type: string
      responses:
        '200':
          description: Condition resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Condition
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Coverage:
    get:
      summary: Search Coverage resources
      description: Search Coverage resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchCoverage
      tags:
      - Coverage
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: dependent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: group
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: plan
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: sequence
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: subplan
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Coverage resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Coverage/{id}:
    get:
      summary: Read a Coverage by id
      description: Read a single Coverage resource by logical id.
      operationId: p360ReadCoverage
      tags:
      - Coverage
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Coverage resource.
        schema:
          type: string
      responses:
        '200':
          description: Coverage resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Coverage
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Device:
    get:
      summary: Search Device resources
      description: Search Device resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchDevice
      tags:
      - Device
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: udi
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Device resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Device/{id}:
    get:
      summary: Read a Device by id
      description: Read a single Device resource by logical id.
      operationId: p360ReadDevice
      tags:
      - Device
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Device resource.
        schema:
          type: string
      responses:
        '200':
          description: Device resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Device
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /DiagnosticOrder:
    get:
      summary: Search DiagnosticOrder resources
      description: Search DiagnosticOrder resources on the Anthem Patient360 member FHIR server (DSTU2). Requires
        a SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchDiagnosticOrder
      tags:
      - DiagnosticOrder
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: actor
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: encounter
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: event-date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: item-date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: item-status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: orderer
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: subject
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of DiagnosticOrder resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /DiagnosticOrder/{id}:
    get:
      summary: Read a DiagnosticOrder by id
      description: Read a single DiagnosticOrder resource by logical id.
      operationId: p360ReadDiagnosticOrder
      tags:
      - DiagnosticOrder
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the DiagnosticOrder resource.
        schema:
          type: string
      responses:
        '200':
          description: DiagnosticOrder resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: DiagnosticOrder
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /DiagnosticReport:
    get:
      summary: Search DiagnosticReport resources
      description: Search DiagnosticReport resources on the Anthem Patient360 member FHIR server (DSTU2). Requires
        a SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchDiagnosticReport
      tags:
      - DiagnosticReport
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: basedOn
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: encounter
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: performer
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: request
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: result
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: specimen
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: subject
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of DiagnosticReport resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /DiagnosticReport/{id}:
    get:
      summary: Read a DiagnosticReport by id
      description: Read a single DiagnosticReport resource by logical id.
      operationId: p360ReadDiagnosticReport
      tags:
      - DiagnosticReport
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the DiagnosticReport resource.
        schema:
          type: string
      responses:
        '200':
          description: DiagnosticReport resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: DiagnosticReport
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Encounter:
    get:
      summary: Search Encounter resources
      description: Search Encounter resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchEncounter
      tags:
      - Encounter
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: admitdate
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: class
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: dischargedate
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: location
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: participant-type
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: practitioner
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: reason
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Encounter resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Encounter/{id}:
    get:
      summary: Read a Encounter by id
      description: Read a single Encounter resource by logical id.
      operationId: p360ReadEncounter
      tags:
      - Encounter
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Encounter resource.
        schema:
          type: string
      responses:
        '200':
          description: Encounter resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Encounter
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Goal:
    get:
      summary: Search Goal resources
      description: Search Goal resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART on
        FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchGoal
      tags:
      - Goal
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: subject
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: targetdate
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Goal resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Goal/{id}:
    get:
      summary: Read a Goal by id
      description: Read a single Goal resource by logical id.
      operationId: p360ReadGoal
      tags:
      - Goal
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Goal resource.
        schema:
          type: string
      responses:
        '200':
          description: Goal resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Goal
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Group:
    get:
      summary: Search Group resources
      description: Search Group resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchGroup
      tags:
      - Group
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: member
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Group resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Group/{id}:
    get:
      summary: Read a Group by id
      description: Read a single Group resource by logical id.
      operationId: p360ReadGroup
      tags:
      - Group
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Group resource.
        schema:
          type: string
      responses:
        '200':
          description: Group resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Group
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Immunization:
    get:
      summary: Search Immunization resources
      description: Search Immunization resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a
        SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchImmunization
      tags:
      - Immunization
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: claim
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: encounter
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: lot-number
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: performer
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: reason
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: reason-not-given
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: vaccine-code
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Immunization resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Immunization/{id}:
    get:
      summary: Read a Immunization by id
      description: Read a single Immunization resource by logical id.
      operationId: p360ReadImmunization
      tags:
      - Immunization
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Immunization resource.
        schema:
          type: string
      responses:
        '200':
          description: Immunization resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Immunization
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Location:
    get:
      summary: Search Location resources
      description: Search Location resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchLocation
      tags:
      - Location
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-city
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-country
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-postalcode
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-state
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Location resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Location/{id}:
    get:
      summary: Read a Location by id
      description: Read a single Location resource by logical id.
      operationId: p360ReadLocation
      tags:
      - Location
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Location resource.
        schema:
          type: string
      responses:
        '200':
          description: Location resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Location
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /MedicationAdministration:
    get:
      summary: Search MedicationAdministration resources
      description: Search MedicationAdministration resources on the Anthem Patient360 member FHIR server (DSTU2).
        Requires a SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchMedicationAdministration
      tags:
      - MedicationAdministration
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: effectivetime
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: encounter
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: notgiven
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: practitioner
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: prescription
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of MedicationAdministration resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /MedicationAdministration/{id}:
    get:
      summary: Read a MedicationAdministration by id
      description: Read a single MedicationAdministration resource by logical id.
      operationId: p360ReadMedicationAdministration
      tags:
      - MedicationAdministration
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the MedicationAdministration resource.
        schema:
          type: string
      responses:
        '200':
          description: MedicationAdministration resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: MedicationAdministration
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /MedicationDispense:
    get:
      summary: Search MedicationDispense resources
      description: Search MedicationDispense resources on the Anthem Patient360 member FHIR server (DSTU2). Requires
        a SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchMedicationDispense
      tags:
      - MedicationDispense
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: claim
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: context
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: dispenser
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: responsibleparty
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: whenhandedover
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of MedicationDispense resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /MedicationDispense/{id}:
    get:
      summary: Read a MedicationDispense by id
      description: Read a single MedicationDispense resource by logical id.
      operationId: p360ReadMedicationDispense
      tags:
      - MedicationDispense
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the MedicationDispense resource.
        schema:
          type: string
      responses:
        '200':
          description: MedicationDispense resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: MedicationDispense
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /MedicationOrder:
    get:
      summary: Search MedicationOrder resources
      description: Search MedicationOrder resources on the Anthem Patient360 member FHIR server (DSTU2). Requires
        a SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchMedicationOrder
      tags:
      - MedicationOrder
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: datewritten
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: encounter
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: prescriber
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of MedicationOrder resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /MedicationOrder/{id}:
    get:
      summary: Read a MedicationOrder by id
      description: Read a single MedicationOrder resource by logical id.
      operationId: p360ReadMedicationOrder
      tags:
      - MedicationOrder
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the MedicationOrder resource.
        schema:
          type: string
      responses:
        '200':
          description: MedicationOrder resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: MedicationOrder
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /MedicationStatement:
    get:
      summary: Search MedicationStatement resources
      description: Search MedicationStatement resources on the Anthem Patient360 member FHIR server (DSTU2). Requires
        a SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchMedicationStatement
      tags:
      - MedicationStatement
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: context
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: effectivedate
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of MedicationStatement resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /MedicationStatement/{id}:
    get:
      summary: Read a MedicationStatement by id
      description: Read a single MedicationStatement resource by logical id.
      operationId: p360ReadMedicationStatement
      tags:
      - MedicationStatement
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the MedicationStatement resource.
        schema:
          type: string
      responses:
        '200':
          description: MedicationStatement resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: MedicationStatement
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Observation:
    get:
      summary: Search Observation resources
      description: Search Observation resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a
        SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchObservation
      tags:
      - Observation
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: document-date
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: document-type
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: encounter
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: patient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: performer
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: subject
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Observation resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Observation/{id}:
    get:
      summary: Read a Observation by id
      description: Read a single Observation resource by logical id.
      operationId: p360ReadObservation
      tags:
      - Observation
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Observation resource.
        schema:
          type: string
      responses:
        '200':
          description: Observation resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Observation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /OperationDefinition:
    get:
      summary: Search OperationDefinition resources
      description: Search OperationDefinition resources on the Anthem Patient360 member FHIR server (DSTU2). Requires
        a SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchOperationDefinition
      tags:
      - OperationDefinition
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: url
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of OperationDefinition resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /OperationDefinition/{id}:
    get:
      summary: Read a OperationDefinition by id
      description: Read a single OperationDefinition resource by logical id.
      operationId: p360ReadOperationDefinition
      tags:
      - OperationDefinition
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the OperationDefinition resource.
        schema:
          type: string
      responses:
        '200':
          description: OperationDefinition resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: OperationDefinition
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Organization:
    get:
      summary: Search Organization resources
      description: Search Organization resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a
        SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchOrganization
      tags:
      - Organization
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _lastUpdated
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Organization resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Organization/{id}:
    get:
      summary: Read a Organization by id
      description: Read a single Organization resource by logical id.
      operationId: p360ReadOrganization
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Organization resource.
        schema:
          type: string
      responses:
        '200':
          description: Organization resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Organization
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Patient:
    get:
      summary: Search Patient resources
      description: Search Patient resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchPatient
      tags:
      - Patient
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-city
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-country
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-postalcode
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-state
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: age
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: birthdate
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: ethnicity
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: family
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: gender
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: given
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: race
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: telecom
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Patient resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Patient/{id}:
    get:
      summary: Read a Patient by id
      description: Read a single Patient resource by logical id.
      operationId: p360ReadPatient
      tags:
      - Patient
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Patient resource.
        schema:
          type: string
      responses:
        '200':
          description: Patient resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Patient
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Person:
    get:
      summary: Search Person resources
      description: Search Person resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a SMART
        on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchPerson
      tags:
      - Person
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-city
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-country
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-postalcode
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-state
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: birthdate
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: gender
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: link
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: relatedpatient
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: telecom
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Person resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Person/{id}:
    get:
      summary: Read a Person by id
      description: Read a single Person resource by logical id.
      operationId: p360ReadPerson
      tags:
      - Person
      parameters:
      - name: id
        in: path
        required: true
        description: Logical id of the Person resource.
        schema:
          type: string
      responses:
        '200':
          description: Person resource
          content:
            application/json+fhir:
              schema:
                type: object
                title: Person
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Not found
  /Practitioner:
    get:
      summary: Search Practitioner resources
      description: Search Practitioner resources on the Anthem Patient360 member FHIR server (DSTU2). Requires a
        SMART on FHIR access token carrying the matching patient/* scope.
      operationId: p360SearchPractitioner
      tags:
      - Practitioner
      parameters:
      - name: _count
        in: query
        required: false
        description: Number of resources to return per page.
        schema:
          type: integer
      - name: _id
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: _source
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-city
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-country
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-postalcode
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: address-state
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: birthdate
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: communication
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: family
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: gender
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: given
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: provenance-agent
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: role
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      - name: telecom
        in: query
        required: false
        description: FHIR search parameter declared for this resource in the server Conformance statement.
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Practitioner resources
          content:
            application/json+fhir:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Practitioner/{id}:
    get:
      summary: Read a Practitioner by id
[...]
